:root {
    --gris: #DDDDDD;
}

body {
    font-family: 'Cabin', sans-serif;
}

.nav_titulo {
    font-family: 'Lobster', cursive;
    font-size: 39px;
}

.header_boton {
    border: 1px solid var(--gris);
}