:root {
    --gris: #DDDDDD;
    --negroL: #373A3C;
}

body {
    font-family: 'Cabin', sans-serif;
}

.nav_titulo {
    font-family: 'Lobster', cursive;
    font-size: 39px;
}

.header_boton, .seccion_newslatter_boton {
    border: 1px solid var(--gris);
}

.carousel-indicators {
    top: 110%;
}

.carousel-indicators li {
    border-radius: 50%;
    background-color: var(--negroL);
    width: 11px;
    height: 11px;
}

.section_ingre_prepa ul li{
    text-decoration: none;
    list-style-type: none;
    list-style-position: inside;
    margin: 6px 0;
}

.seccion_newslatter {
    padding: 90px 10px;
}

.seccion_newslatter p {
    font-size: 18pt;
}

.seccion_newslatter p span {
    font-family: 'Lobster', cursive;
}

.seccion_newslatter_boton {
    padding: 7px 105px;
}

footer {
    font-family: 'Lobster', cursive;
}

footer h2 {
    font-size: 32pt;
}